{%extends 'base.html.twig' %}

{% block title %}Fusion{% endblock %}
{% block body %}

    <h1>C'est bon!</h1>
    <form action={{path('download')}}>
        <input type="submit" value="Telecharger le fichier csv" />
    </form>

   {#
   <h1>{{ header.3 }}</h1>
   <h2>{{ boo }}</h2>
    {% for record in records %}
        <li>{{ record.GivenName }}</li>
    {% endfor %}
    #}


{% endblock %}
